GameBoard {
  pieces: [[Some(BoardPieceProps { image_index: 2, weight: 1, pos: TilePos { x: 0, y: 0 }, player: 1 }), Some(BoardPieceProps { image_index: 1, weight: 1, pos: TilePos { x: 0, y: 1 }, player: 0 }), Some(BoardPieceProps { image_index: 2, weight: 1, pos: TilePos { x: 0, y: 2 }, player: 1 })], [Some(BoardPieceProps { image_index: 1, weight: 1, pos: TilePos { x: 1, y: 0 }, player: 0 }), Some(BoardPieceProps { image_index: 2, weight: 1, pos: TilePos { x: 1, y: 1 }, player: 1 }), Some(BoardPieceProps { image_index: 1, weight: 1, pos: TilePos { x: 1, y: 2 }, player: 0 })], [Some(BoardPieceProps { image_index: 2, weight: 1, pos: TilePos { x: 2, y: 0 }, player: 1 }), Some(BoardPieceProps { image_index: 1, weight: 1, pos: TilePos { x: 2, y: 1 }, player: 0 }), Some(BoardPieceProps { image_index: 2, weight: 1, pos: TilePos { x: 2, y: 2 }, player: 1 })]], current_player: 0, players: [0, 1], selected_piece_weight: None, game_state: AiThinking }
